@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

#navigation { // The main div
    font-family: "Roboto", sans-serif; // Set the font to Roboto
}

#title { // The Title Text
    // BELOW: LOOKS STUPID, ACT LIKE THIS NEVER HAPPENED
    // background-image: linear-gradient(-90deg, navy, darkblue, blue, mediumblue, dodgerblue, deepskyblue, cyan) !important;
    // color: transparent;
    // background-clip: text;
    // -webkit-background-clip: text;

    font-size: 36px; // Set the font size to 36 pixels
    vertical-align: middle; // Align the text vertically in the middle

    padding-right: 24px; // On the right, have a space before the border
    border-right: 4px solid deepskyblue; // Have a deepskyblue 4px border in between this and the user card
    margin: 5px; // Have a margin of 5px all around the text
}

figure {
    display: inline-block; // Make the title text be inline like a span
}

figcaption {
    font-size: 12px; // Set the caption to be smaller
}

.title-navlink {
    text-decoration: none; // Remove the underline from the navlinks
}

.title-navlink:visited {
    color: white; // Remove the visited color from the navlinks
}

#navbar {
    padding: 5px;
}

// Ethan's fix to the button not being centered
// Which took over an hour to make
// Winning
#logout-link {
    height: 100%; // Expand the height
    justify-content: center; // Center the button horizontally
}

.flip-content {
    height: 100%; // Expand the height
    justify-content: center; // Center the div horizontally
    width: 100%;
    overflow: hidden;
}
// Also I'm a noob

// These override the Flipcard.css to fix it
.Flipcard {
    width: fit-content; // Make the div shrink wrap to the content
    width: -moz-fit-content; // Firefox
    width: -webkit-fit-content; // Safari iOS
}

.Flipcard-front,
.Flipcard-back {
    // Used to center the button
    height: 100%;
    width: 100%;
    text-align: center;
}

.Flipcard-front {
    position: relative; // Set the position of this to relative so it can be positioned easier
}
  
.Flipcard-back {
    position: absolute; // Set the position to absolute, so
    top: 0; // It can be positioned at the top
    left: 0; // left
}